<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonjour</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="../../style/style.css">
</head>

<body>
    <h1>Hello {{ name }} !</h1>
    {% set i = 1 %}
        {% for product in products %}
            {{ product }}
            {% if i % 3 == 0 %}
                <br>
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
    

    <pre>
        {{ dump(products) }}
    </pre>
</body>

</html>